[Unit]
Description=twitter bot

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/scrap_revuedepresse
ExecStart=/usr/bin/python %h/Documents/twitter_bot_revuedepresse/twitter_bot_revuedepresse.py

[Install]
WantedBy=multi-user.target
